.formBtn {
  color: #fff;
  background-color: #f3aacc;
  border-color: #f3aacc; }
  .formBtn:hover {
    color: #fff;
    background-color: #ec64a4;
    border-color: #ec64a4; }

.navbarLink {
  display: block;
  padding: .5rem 1rem;
  color: #ec64a4;
  font-weight: 700;
  text-decoration: none;
  transition: color .15s ease-in-out,background-color .15s ease-in-out,border-color .15s ease-in-out; }
  .navbarLink:hover {
    color: #fff;
    background-color: #ec64a4;
    border-color: #ec64a4; }

.grow {
  transition: all .5s ease-in-out; }
  .grow:hover {
    transform: scale(1.1);
    border-radius: 10px; }

.emphasis {
  transition: all .5s ease-in-out; }
  .emphasis:hover {
    transform: scale(1.2); }

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box; }

body {
  max-width: 120rem;
  margin: 0 auto;
  background-image: url(../assets/Background/pattern100x100Diff.png);
  font-family: 'Lato', sans-serif;
  /* Main edition */
  /* Footer edition */ }
  body header {
    background: linear-gradient(#fff, #fce1f1);
    /* Navbar edition */ }
    body header .logoNavbar {
      width: 30vw;
      max-width: 15rem; }
  body main {
    background-color: #fff;
    /* Carousel configuration */
    /* Our company card configuration */
    /* Our courses card configuration */
    /* Product cards configuration */ }
    body main .carousel-caption {
      background-color: #fce1f17c;
      border-radius: 1rem;
      color: #000; }
      body main .carousel-caption h5 {
        font-weight: 900;
        font-size: 3ch; }
      body main .carousel-caption p {
        font-weight: 400;
        font-size: 2ch; }
    body main .pictureCard {
      background-color: #fcf3e1; }
    body main .videoCard {
      background-color: #f4e3ff; }
      body main .videoCard h2 {
        font-weight: 700; }
      body main .videoCard iframe {
        flex: 0 0 auto;
        width: 75vw;
        height: 46.875vw; }
      @media (min-width: 61.9375rem) {
        body main .videoCard iframe {
          width: MIN(40vw, 31.25rem);
          height: MIN(22.5vw, 17.5rem); } }
    body main .productCard {
      background-color: #eefce8;
      border: none;
      border-radius: 1vw;
      margin: 0 auto;
      padding: 0;
      max-width: 62.5rem; }
      body main .productCard i {
        font-size: MAX(3vw, 1.5rem);
        color: #6f9e5b; }
      @media (min-width: 48rem) {
        body main .productCard {
          margin: 1rem; }
          body main .productCard i {
            font-size: MIN(3vw, 2rem); } }
  body footer {
    background-color: #fce1f1;
    /* Social networks icons configuration */
    /* Bottom footer: Contact information configuration */ }
    body footer .socialNetworks a i {
      font-size: 3rem;
      color: #f3aacc; }
      body footer .socialNetworks a i:hover {
        font-size: 3rem;
        color: #ec64a4; }
    body footer .contactInfo {
      background-color: #f3aacc; }
      body footer .contactInfo i {
        font-size: 1.5rem; }
      body footer .contactInfo p {
        margin: 0; }
      @media (min-width: 768px) {
        body footer .contactInfo {
          gap: 2rem; } }
