@import './partials/variables';
@import './partials/objects';
@import './partials/animations';

* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

body { 
    max-width: 120rem;
    margin: 0 auto;
    background-image: url(../assets/Background/pattern100x100Diff.png);
    font-family: 'Lato', sans-serif;

    header { background: $_gradient ;

        /* Navbar edition */
        .logoNavbar { 
            width: 30vw;
            max-width: 15rem;
        }

    }   
    
    /* Main edition */
    main { background-color: #fff; 

        /* Carousel configuration */
        .carousel-caption { 
            background-color: #fce1f17c; 
            border-radius: 1rem;
            color: #000;
            
            h5 { 
                font-weight: 900;
                font-size: 3ch;
            }
            
            p {
                font-weight: 400;
                font-size: 2ch;
            }
        }
            
        /* Our company card configuration */
        .pictureCard {
            @extend .sectionCard;
            background-color: #fcf3e1;

            .yellowBtn {
                @include formBtn(#ffffff, #eed582, #e6bd37);
            }
        }

        
        /* Our courses card configuration */
        .videoCard { 
            @extend .sectionCard;            
            background-color: #f4e3ff;

            .violetBtn {
                @include formBtn(#ffffff, #d9abf7, #b26fdf)
            }
            
            iframe {
                flex: 0 0 auto;
                width: 64.5413vw;
                height: 36.3045vw;
            }
            
            @media (min-width:48rem) {
                iframe {
                    width: MIN(36.2286vw, 46.625rem);
                    height: MIN(20.3785vw, 26.2265rem);
                }
            }
        }
            
        /* Product cards configuration */

        .productCard { 
            background-color: #eefce8;
            border: none;
            border-radius: 1vw;
            margin: 0 auto;
            padding: 0;
            max-width: 62.5rem; 
            
            i {
                font-size: MAX(3vw, 1.5rem);
                color: #6f9e5b;
            }
            
            @media (min-width: 48rem) {
                margin: 1rem; 
                
                i { 
                    font-size: MIN(3vw, 2rem);
                }           
            }
        }
    }

    /* Footer edition */
    
    footer { background-color: #fce1f1; 
        
        .roseBtn {
            @include formBtn(#fff, $_primary_color, $_secondary_color)
        }

        /* Social networks icons configuration */
        
        @each $_network, $_color in $_networks {
            
            .networkButton#{$_network} {
                @extend .socialNetwork;
                
                &:hover { color: $_color; }
            
            }
        }
        
        /* Bottom footer: Contact information configuration */
        
        .contactInfo { background-color: $_primary_color; 
            
            i { font-size: 1.5rem; }
            
            p { margin: 0; }
            
            @media (min-width: 768px) {
                gap: 2rem;
            }
        }
    }
}